<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b61bea87-c8f8-4753-868e-4580ee811211/resourcegroups/Assignment28263103ResourceGroup/providers/Microsoft.Web/sites/nutricalc</ResourceId>
    <ResourceGroup>Assignment28263103ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nutricalc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nutricalc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>nutricalc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$nutricalc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Calories" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nutricalcdbserver.database.windows.net,1433;Initial Catalog=nutricalc_db;User ID=nutricalcadmin@nutricalcdbserver;Password=Chennai@1" Name="Data Source=tcp:nutricalcdbserver.database.windows.net,1433;Initial Catalog=nutricalc_db;User Id=nutricalcadmin@nutricalcdbserver;Password=Chennai@1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Assignment_28263103.Models.Calories, Assignment_28263103" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Comments" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:nutricalcdbserver.database.windows.net,1433;Initial Catalog=nutricalc_db;User ID=nutricalcadmin@nutricalcdbserver;Password=Chennai@1" Name="Data Source=tcp:nutricalcdbserver.database.windows.net,1433;Initial Catalog=nutricalc_db;User Id=nutricalcadmin@nutricalcdbserver;Password=Chennai@1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Assignment_28263103.Models.Comments, Assignment_28263103" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:nutricalcdbserver.database.windows.net,1433;Initial Catalog=nutricalc_db;User ID=nutricalcadmin@nutricalcdbserver;Password=Chennai@1" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Assignment_28263103.Models.ApplicationDbContext, Assignment_28263103" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="User_Details" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:nutricalcdbserver.database.windows.net,1433;Initial Catalog=nutricalc_db;User ID=nutricalcadmin@nutricalcdbserver;Password=Chennai@1" Name="Data Source=tcp:nutricalcdbserver.database.windows.net,1433;Initial Catalog=nutricalc_db;User Id=nutricalcadmin@nutricalcdbserver;Password=Chennai@1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Assignment_28263103.Models.User_Details, Assignment_28263103" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="User_Details-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nutricalcdbserver.database.windows.net,1433;Initial Catalog=nutricalc_db;User Id=nutricalcadmin@nutricalcdbserver;Password=Chennai@1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nutricalcdbserver.database.windows.net,1433;Initial Catalog=nutricalc_db;User ID=nutricalcadmin@nutricalcdbserver;Password=Chennai@1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Comments-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nutricalcdbserver.database.windows.net,1433;Initial Catalog=nutricalc_db;User Id=nutricalcadmin@nutricalcdbserver;Password=Chennai@1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Calories-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nutricalcdbserver.database.windows.net,1433;Initial Catalog=nutricalc_db;User Id=nutricalcadmin@nutricalcdbserver;Password=Chennai@1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>