@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center myDiv">
    <div class="mainPage"></div>
    <div id="mProw1" class="row">
        <div class="col-md-12">
            <a class="hero-brand" href="@Url.Action("Index", "Home")" title="Home">
                <img width="100" height="100" alt="Butrical Logo" src="~/Images/TIMBER1.png">
                <span style="display: inline-block;font-size: 90px;vertical-align: middle">NutriCal</span>
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <h1 class="tag">
            Your Nutrtion Calculator
        </h1>
        <br /><br />
        <p class="tagline">
            This is a powerful tool to keep a track of your nutrtion.
        </p>
    </div>
    
    <div class="row col-md-12">
        <br /><br />
        <button class="btn btn-primary" onclick="location.href='@Url.Action("About", "Home")'">Learn More</button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        //$('.container').css("padding", 0);
        //$('.mainPage').css("margin", 5);
        //$('.mainPage').css("width", window.innerWidth);
    });
</script>